.login__Page {
    background-image: linear-gradient(right, #d3d8dc, #dbdedf);
    border-radius: 4px;
    border: 2px solid rgba(252, 84, 48, .6);
    /* width: 450px; */
    /* border-radius: 4px; */
    /* margin-top: 5%; */
    padding: 10px;
}


/* input[type=text], input[type=password] {
    width: 400px;
} */


.login__Title {
    font-family: 'Pacifico', cursive;
    color: rgba(252, 84, 48);
}

.background {
    background-color: white;
}